Product Id:
{{product._id}}
<div class="container" style="max-width: 95%;">
  <div class="error">
    {{error}}
  </div>
  <div class="title">Resume</div>
  <div class="input-box" style="height:auto;">
    <h2>Name: </h2>
    {{product.name}}
  </div>
  <div class="input-box" style="height: auto">
    <h3>Category:</h3>
    {{product.category}}
  </div>
  <div class="input-box" style="height: auto">
    <h3>Description</h3>
    {{product.description}}
  </div>
  <div class="input-box" style="height: auto">
    <h3>Price:</h3>
    {{product.price}}
  </div>
  {{! /*--------copy clipboard html ------*/ }}
</div>